* {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

header {
    background-color: darkslategray;
    color: rgb(233, 229, 204);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

h1 {
    margin-left: 10px;
    padding: 10px;
    display: flex;
    font-size: 40px;
}

.nav-links {
    display: flex;
    margin-right: 10px;
    padding: 10px;
    list-style-type: none;
    color: rgb(233, 229, 204);
}

li {
    margin-right: 10px;
    padding: 5px;
}

a {
    color: rgb(233, 229, 204);
    text-decoration: none;
    font-size: x-large;
    border-style: solid;
    border-color: rgb(233, 229, 204);
}

a:active {
    color: rgb(233, 229, 204);
}

a:hover
{
    font-size: 25px;
}
h2 {
    color: darkslategray;
    text-decoration: underline;
}

p {
    margin: 20px;
}

#portfolio-image {
    height: 200px;
    width: 200px;
    margin-right: 15px;
}
